{# VARS: #} 
{# - qrcodes = [{}]     #}
{#   \-> qrcode = {     #}
{#          'name':''   #}
{#          'id':''     #}
{#          'label':''  #}
{#          }           #}
<html>
<head>
  <style type="text/css">

p {
  padding-top: 0px; 
  color: {{ fg_color }}; 
  background-color: {{ bg_color }};
}

li {
  list-style: none;
}

.vertical {
  writing-mode: sideways-rl;
}

.qr-border {
    font-size: {{ size|int*5  }}px;
    color: {{ fg_color }}; 
    background-color: {{ bg_color }};
}

.dot {
  font-size: {{ size|int*12  }}px;
}

.guru {
  vertical-align:top;
}

.qr-image {
  /*margin-top: -60px;*/
}

.guru-list {
  padding: 0px;
}

.stor { 
  float: right;
  letter-spacing: {{ size|int*3 }}px;
}

tr, td {
  padding: 0px;
  line-height: {{ size|int*7  }}px;
  color: {{ fg_color }}; 
  background-color: {{ bg_color }};  
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.wrapper {
  padding: 10px;
  flex: 1 100%;
}

body {
  padding: 2em; 
}

  </style>
</head>


<body>
  <div class="columwrapper wrapper">
    {%- for column in qrcodes|slice( size|int*3  ) %}

      <ul class="column-{{ loop.index }}" style="list-style-type: none;">
      {%- for qrcode in column %}
        <li>

          <table>
            <tr>
              <td>
                <div class="stor" display="flex">
                      <span class="qr-border stor">stor</span>
                </div>                 
              </td>
              <td>
                <span class="qr-border dot">.</span>                
              </td>
            </tr>
            <tr>
              <td>
                <div class="qr-image">
                    <img id="{{ qrcode.id }}" src="{{ qrcode.name }}" style="padding-bottom: 0px">
                </div>                 
              </td>
              <td class="guru">
                <div class="qr-border">
                  <span class="side ">
                    <ul class="guru-list">
                      <li class="first">
                        <span class="qr-border">g</span>
                      </li>
                      <li class="second">
                        <span class="qr-border">u</span>
                      </li>
                      <li class="third">
                        <span class="qr-border">r</span>
                      </li>
                      <li class="third">
                        <span class="qr-border">u</span>
                      </li>
                    </ul>
                  </span>
                </div>                 
              </td>
            </tr>
            <tr>
              <td>
              <p style="padding-top: 0px; color: {{ fg_color }}; background-color: {{ bg_color }}">{{ text }}</p>
              </td>
              <td>
                
              </td>
            </tr>        
          </table>
        </li>
      {%- endfor %}
      </ul>

          {%- endfor %}
  </div>
</body>
</html>
