{# VARS: #} 
{# - qrcodes = [{}]     #}
{#   \-> qrcode = {     #}
{#          'name':''   #}
{#          'id':''     #}
{#          'label':''  #}
{#          }           #}
<html>
<body>

<table>
<tr>
    <div class="columwrapper">
      {%- for column in qrcodes|slice(6) %}
        <td>
        <ul class="column-{{ loop.index }}" style="list-style-type: none;">
        {%- for qrcode in column %}
          <li>
            <div style="" >
                <center>
                    <img id="{{ qrcode.id }}" src="{{ qrcode.name }}" style="padding-bottom: 0px">
                    <span style="padding-top: 0px">{{ qrcode.label }}</span>
                </center>
            </div>
          </li>
        {%- endfor %}
        </ul>
        </td>
      {%- endfor %}
    </div>
</tr>
</table>

</body>
</html>


