<h1>QR Code to PDF</h1> 

<input type='range' id="qr-pdf-size" value="50" class="qr-pdf-slider" />

<input type='range' id="qr-pdf-number" value="50" class="qr-pdf-slider" />

<input type='text' id="qr-pdf-fg-color" class="qr-pdf-spectrum" />

<input type='text' id="qr-pdf-bg-color" class="qr-pdf-spectrum" />

<input type='text' id="qr-pdf-label-text" class="" />


<button id="qr-pdf-render" class="qr-pdf-button">Render</button>