<h1>QR Code to PDF</h1> 

<label for="qr-pdf-size">qr-pdf-size</label>
<input type='range' id="qr-pdf-size" value="50" class="qr-pdf-slider" />

<label for="qr-pdf-number">qr-pdf-number</label>
<input type='range' id="qr-pdf-number" value="50" class="qr-pdf-slider" />

<label for="qr-pdf-fg-color">qr-pdf-fg-color</label>
<input type="color" id="qr-pdf-fg-color" class="qr-pdf-spectrum" />

<label for="qr-pdf-bg-color">qr-pdf-bg-color</label>
<input type="color" id="qr-pdf-bg-color" class="qr-pdf-spectrum" />

<label for="qr-pdf-label-text">qr-pdf-label-text</label>
<input type='text' id="qr-pdf-label-text" class="" />


<button id="qr-pdf-render" class="qr-pdf-button">Render</button>